### Eclipse ###
*.gz
.classpath
.project
.settings/
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.target/

backend/src/main/resources/dist/js/about*
backend/src/main/resources/dist/js/app*
backend/src/main/resources/dist/js/chunk-vendors*
backend/src/main/resources/dist/css/app*
backend/src/main/resources/dist/css/chunk-vendors*
backend/ssafy-web.log*