/* use for overriding element plus css */

/* divider 내부 글씨 */
.el-divider__text {
  position: absolute;
  background-color: #fff;
  padding: 0 20px;
  font-weight: 500;
  color: gray;
  font-size: 12px; 
}

/* textarea 내부 textarea */
.el-textarea__inner {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* el-button 내부 span */
.el-button>span {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  max-width: 1020px;
  padding: 0;
}

:root {
  --el-color-primary: #4E7351;
  --el-color-primary-light-2: hsl(125, 19%, 48%);
  --el-color-primary-light-7: #CEE5D0;
  --el-color-primary-light-9: #F2F8F2;
  --el-button-border-color: transparent;

  --bs-body-font-family: 'Nunito', TmoneyRoundWindRegular, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.el-button--primary.is-plain.is-disabled, .el-button--primary.is-plain.is-disabled:active, .el-button--primary.is-plain.is-disabled:focus, .el-button--primary.is-plain.is-disabled:hover {
  color: #ACD3AF;
  background-color: #F2F8F2;
  border-color: transparent;
}

.el-button--primary.is-plain {
  --el-button-border-color: transparent
}

/* .el-input__inner {
  background-color: #F4F4F5;
} */

.el-dialog {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.el-card.is-always-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.el-divider__text {
  background-color: #f4f4f5;
}

.result .el-divider__text {
  background-color: #F9F9F9;
}

video {
	/* background: lightsteelblue;
	aspect-ratio: 16/9;
	width: 100%;
	margin: auto 0; */

	position: absolute;
	right: 0;
	object-fit: cover;
	bottom: 0;
	width: 100%;
	height: 100%;
	/* background: #000; */
	border-radius: 10px;
	overflow: hidden;
	left: 0;
	top: 0;
	background-size: cover;
	overflow: hidden;
	-webkit-transition: margin-top 1s ease-in-out;
	-moz-transition: margin-top 1s ease-in-out;
	-o-transition: margin-top 1s ease-in-out;
	transition: margin-top 1s ease-in-out;
}

.nickname-wrapper {
	position: absolute;
	/* display: none; */
	/* background: black; */
	aspect-ratio: 16/9;
	width: 100%;
	margin: auto 0;
	background-clip: content-box;
	padding: 1px;
}

.nickname {
  position: absolute;
  /* bottom: 0; */
  left: 0;
  /* right: 0; */
  text-align: center;
  background: #667267;
  /* background-clip: content-box; */
  margin: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  color: #FEFEFE;
}

.search-bar .el-input__inner{
  border: none;
}

.search-bar .el-input-group__prepend{
  border: none;
  background-color: white;
}

.search-bar .el-input-group__append{
  border: none;
  background-color: white;
}

.el-card.is-always-shadow {
  box-shadow: rgb(0 0 0 / 6%) 0px 8px 20px;
  border: none;
}

.el-button {
  border-color: transparent;
}

.el-pagination.is-background .btn-next:disabled, .el-pagination.is-background .btn-prev:disabled {
  background-color: transparent;
}

.meeting-footer .el-button {
  background: linear-gradient(140deg, rgba(243, 240, 215, 1) -10%, rgba(78, 115, 81, 0.522) 50%), url(https://grainy-gradients.vercel.app/noise.svg);
  border: none;
}

.meeting-footer .el-button:hover {
  background: linear-gradient(140deg, rgba(243, 240, 215, 1) -10%, rgba(78, 115, 81, 0.8) 50%), url(https://grainy-gradients.vercel.app/noise.svg);
}

.waiting-participant .el-button {
  background: linear-gradient(140deg, rgba(243, 240, 215, 1) -100%, rgba(78, 115, 81, 1) 50%), url(https://grainy-gradients.vercel.app/noise.svg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.close-button .el-button {
  background: linear-gradient(140deg, rgba(243, 240, 215, 1) -100%, rgba(255, 120, 120, 0.5) 50%), url(https://grainy-gradients.vercel.app/noise.svg);
  border: none;
}

.close-button .el-button:hover {
  background: linear-gradient(140deg, rgba(243, 240, 215, 1) -100%, rgba(255, 120, 120, 0.7) 50%), url(https://grainy-gradients.vercel.app/noise.svg);
  border: none;
}

.create-button .el-button {
  background: linear-gradient(140deg, rgba(243, 240, 215, 0.5) -10%, rgba(255, 120, 120, 0.5) 50%), url(https://grainy-gradients.vercel.app/noise.svg);
  border: none;
  background-color: white;
  transition: all 2s;
}

.create-button .el-button:hover {
  background: linear-gradient(140deg, rgba(243, 240, 215, 0.7) -10%, rgba(255, 120, 120, 0.7) 50%), url(https://grainy-gradients.vercel.app/noise.svg);
  border: none;
  background-color: white;
  transition: all 2s;
}

.el-popper.is-customized {
  /* Set padding to ensure the height is 32px */
  padding: 6px 12px;
  background: linear-gradient(140deg, rgba(243, 240, 215, 0.8) -100%, rgba(78, 115, 81, 0.8) 50%), url(https://grainy-gradients.vercel.app/noise.svg);
  color: white;
}

.el-popper.is-customized .el-popper__arrow::before {
  background: linear-gradient(45deg, rgba(78, 115, 81, 0.5) 50%, rgba(78, 115, 81, 0.8) 50%), url(https://grainy-gradients.vercel.app/noise.svg);
  right: 0;
}