/* use for overriding element plus css */

/* divider 내부 글씨 */
.el-divider__text {
  position: absolute;
  background-color: #fff;
  padding: 0 20px;
  font-weight: 500;
  color: gray;
  font-size: 12px; 
}

/* textarea 내부 textarea */
.el-textarea__inner {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* el-button 내부 span */
.el-button>span {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  max-width: 1020px;
  padding: 0;
}

:root {
  --el-color-primary: #4E7351;
  --el-color-primary-light-7: #CEE5D0;
  --el-color-primary-light-9: #F2F8F2;
  --el-button-border-color: transparent;

  /* 검색바 보더 색 */
  /* --el-border-color-base: transparent;   */
}

.el-button--primary.is-plain.is-disabled, .el-button--primary.is-plain.is-disabled:active, .el-button--primary.is-plain.is-disabled:focus, .el-button--primary.is-plain.is-disabled:hover {
  color: #ACD3AF;
  background-color: #F2F8F2;
  border-color: transparent;
}

.el-button--primary.is-plain {
  --el-button-border-color: transparent
}

/* .el-input__inner {
  background-color: #F4F4F5;
} */

.el-dialog {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.el-card.is-always-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.el-divider__text {
  background-color: #f4f4f5;
}

video {
	/* background: lightsteelblue;
	aspect-ratio: 16/9;
	width: 100%;
	margin: auto 0; */

	position: absolute;
	right: 0;
	object-fit: cover;
	bottom: 0;
	width: 100%;
	height: 100%;
	/* background: #000; */
	border-radius: 10px;
	overflow: hidden;
	left: 0;
	top: 0;
	background-size: cover;
	overflow: hidden;
	-webkit-transition: margin-top 1s ease-in-out;
	-moz-transition: margin-top 1s ease-in-out;
	-o-transition: margin-top 1s ease-in-out;
	transition: margin-top 1s ease-in-out;
}

.nickname-wrapper {
	position: absolute;
	/* display: none; */
	/* background: black; */
	aspect-ratio: 16/9;
	width: 100%;
	margin: auto 0;
	background-clip: content-box;
	padding: 1px;
}

.nickname {
  position: absolute;
  /* bottom: 0; */
  left: 0;
  /* right: 0; */
  text-align: center;
  background: #667267;
  /* background-clip: content-box; */
  margin: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  color: #FEFEFE;
}

.search-bar .el-input__inner{
  border: none;
}

.search-bar .el-input-group__prepend{
  border: none;
  background-color: white;
}

.search-bar .el-input-group__append{
  border: none;
  background-color: white;
}

.el-card.is-always-shadow {
  box-shadow: rgb(0 0 0 / 6%) 0px 8px 20px;
  border: none;
}

.el-button {
  border-color: transparent;
}